$special-gray: #00958E;
$black: #000000;

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

.justify-center {
    display: flex;
    justify-content: center;
    width: 50% !important;
}

.large-text-container {
    width: 495px !important;
}

.text-large-gray {
    font-size: 42px !important;
    font-family: "Inter", sans-serif;
//     font-optical-sizing: auto;
    font-weight: 800;
    font-style: 'ExtraBold';
    //padding: 20px;
    //margin-left: 120px;
    color: $special-gray !important;
 }

.text-large-black {
    color: $black;
    font-size: 64px !important;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: 'ExtraBold';
}

.logo-margin {
    margin-top: 50px !important;
    margin-left: 55px !important;
}

