$special-gray: #00958E;
$black: #000000;
$gradientColor: #CED8EB;

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

.test-background {
    background-color: blue !important;
}

.right-main-container {
    width: 100%;
    min-width: 614px !important;
    height: 80%;
    padding: 75px;
    border-radius: 10px;
    box-shadow:
        inset 15px 10px 10px 0 rgb(0 0 0, 0.1),
        inset -15px 10px 10px 0 rgb(0 0 0, 0.1)
    ;
    margin-right: 30px;
}

.half-screen-container {
    width: 50%;
    height: 100%;
}

.left-to-right-gradient {
    background-image: linear-gradient(to right, $gradientColor , white);
}

.right-to-left-gradient {
    background-image: linear-gradient(to left, $gradientColor , white);
}

.justify-center {
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.text-medium-black {
    opacity: 80%;
    font-size: 15px !important;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: 'Medium';
}

.large-text-container {
    width: 495px !important;
}

.text-large-gray {
    font-size: 42px !important;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: 'ExtraBold';
    color: $special-gray !important;
 }

.text-large-black {
    color: $black;
    font-size: 64px !important;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: 'ExtraBold';
}

.logo-margin {
    margin-top: 50px !important;
    margin-left: 55px !important;
}

