$special-gray: #00958E;
$black: #000000;

.text-large-gray {
    font-family: 'ComicSans';
    font-size: 100px !important;
    padding: 20px;
    margin-left: 120px;
    color: $special-gray !important;
 }

.text-large-black {
    color: $black;
    font-size: 64px !important;
}

